body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
table {
  border-collapse: collapse;
  width: 100%;
 }

th, td {
  padding: 8px;
  align-items: center;
  text-align: center;

}

th{
  color: var(--text-light-secondary, #637381);

  font-size: 13px;
  font-style: normal;
  font-weight: 600;
}

